<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<h2><%= t("forem.post.edit", :post => @post) %></h2>

<%= bootstrap_form_for([forem, @topic.forum, @topic, @post], :layout => :horizontal) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.primary t("forem.post.buttons.reply") %>
    </div>
  </div>
<% end %>
