<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>

<% if @reply_to_post %>
    <%= render 'reply_to_post', :post => @reply_to_post %>
<% else %>
    <div class="panel panel-primary">
      <div class="panel-heading"><%= t("forem.post.new") %></div>
      <div class="panel-body text-center">
        <em><%= @topic.subject %></em>
      </div>
    </div>
<% end %>


<%= bootstrap_form_for([forem, @topic.forum, @topic, @post], :layout => :horizontal) do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.primary t("forem.post.buttons.reply") %>
      </div>
    </div>
<% end %>