<h1><%= t('.active_poll') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.question') %></th>
      <th></th> <!-- show-header -->
      <% if show_edit?(active) %>
      <th></th> <!-- edit-header -->
      <% end %>
      <th></th> <!-- end-header -->
    </tr>
  </thead>

  <tbody>
    <% active.each do |poll| %>
      <tr>
        <td><%= poll.question %></td>
        <td><%= link_to t('.show'), poll, :class => 'btn btn-default' %></td>
        <% if show_edit?(active) %>
        <td>
        <% unless poll.voted? %>
          <%= link_to t('.edit'), edit_poll_path(poll), :class => 'btn btn-default' %>
        <% end %>
        </td>
        <% end %>
        <td><%= link_to t('.end'), opinion.end_poll_path(poll), :class => 'btn btn-default', method: :post, data: { confirm: 'Are you sure you want to end the poll?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

