<h1><%= t('.ended_polls') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.question') %></th>
      <th></th> <!-- show-header -->
      <th></th> <!-- destroy-header -->
    </tr>
  </thead>

  <tbody>
    <% ended.each do |poll| %>
      <tr>
        <td><%= poll.question %></td>
        <td><%= link_to t('.show'), poll, :class => 'btn btn-default' %></td>
        <td><%= link_to t('.destroy'), poll, :class => 'btn btn-default', method: :delete, data: { confirm: t('.destroy_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

