<% button_template ||= nil %>
<% submit_button_t ||= '.create' %>
<%= bootstrap_nested_form_for(@poll, layout: :horizontal) do |poll_form| %>
  <%# TODO Check if helper is available for this or create one. %>
  <% if @poll.errors.any? %>
    <div id="error_explanation">

      <h2><%= t('.prohibited_from_saved', :count => @poll.errors.count) %></h2>

      <ul>
        <% @poll.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= poll_form.text_field(:question, :control_col => 'col-sm-10') %>
  <div class="form-group" id="option_fields">
    <%= poll_form.fields_for(:options) do |option_form| %>
     <% option_form.text_field(:description, label: t('activerecord.attributes.opinion/poll.option'), :control_col => 'col-sm-10',
                                :append => option_form.link_to_remove('', :class=> 'btn btn-default glyphicon glyphicon-remove', :type => 'button') ) %>
    <% end %>
  </div>

  <%= poll_form.form_group do %>
    <%= poll_form.primary t(submit_button_t) %>
    <%= poll_form.link_to_add t('.add_option'), :options, :class => 'btn btn-default', :data => { :target => '#option_fields'} %>
    <%= render button_template if button_template %>
  <% end %>
<% end %>