<h1><%= t('.pending_polls') %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.question') %></th>
      <th></th> <!-- show-header -->
      <th></th> <!-- edit-header -->
      <% if show_activate? %>
      <th></th> <!-- activate-header -->
      <% end %>
      <th></th> <!-- end- or destroy-header -->
    </tr>
  </thead>

  <tbody>
    <% pending.each do |poll| %>
      <tr>
        <td><%= poll.question %></td>
        <td><%= link_to t('.show'), poll, :class => 'btn btn-default' %></td>
        <td><%= link_to t('.edit'), edit_poll_path(poll), :class => 'btn btn-default' %></td>
        <% if show_activate? %>
        <td><%= link_to t('.activate'), opinion.activate_poll_path(poll), :class => 'btn btn-default', method: :post, data: { confirm: t('.activate_confirm') } %></td>
        <% end %>
        <td><%= link_to t('.destroy'), poll, :class => 'btn btn-default', method: :delete, data: { confirm: t('.destroy_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

