<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<%= modal_tag('new_opinion_poll_modal', :data => {:config => Opinion.configuration.to_hash}) do %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= t('opinion.polls.poll_modal.title') %></h4>
      </div>
      <div class="modal-body">
        <h3 class="text-center"><%= poll.question %></h3>
        <%= render :file => 'opinion/polls/_poll_opinion_form', locals: {:poll => poll, modal: true} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="vote"><%= t('opinion.polls.poll_modal.vote') %></button>
        <%= vote_later_button(t('opinion.polls.poll_modal.vote_later')) %>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('opinion.polls.poll_modal.close') %></button>
      </div>
    </div>
  </div>
<% end %>