<div id="votes">
  <% if @poll.voted? %>
    <% if Opinion.configuration.charts_engine == :highcharts %>
      <%= pie_chart @poll.options_chart_data, library: {title: {text: @poll.question} } %>
    <% elsif Opinion.configuration.charts_engine == :google_charts %>
      <%= pie_chart @poll.options_chart_data, library: {title: @poll.question} %>
    <% else %>
      <h3>Chart Engine <%= Opinion.configuration.charts_engine.inspect %> is not supported</h3>
    <% end %>
  <% else %>
    <h3>No votes for poll exists</h3>
  <% end %>
</div>

<%= link_to 'Edit', edit_poll_path(@poll), :class => 'btn btn-default' %>
<%= link_to 'Back', polls_path, :class => 'btn btn-default' %>
