<%= bootstrap_form_for([forem, :admin, @forum], :layout => :horizontal) do |f| %>
  <%= f.collection_select(:category_id, Forem::Category.all, :id, :name, :include_blank => false, :control_col => 'col-sm-6' ) %>
  <%= f.text_field( :description, :control_col => 'col-sm-6' ) %>
  <%= f.text_field( :title, :error_attr => :name, :control_col => 'col-sm-6' ) %>

  <% unless Forem::Group.all.empty? %>
    <div class="form-group">
      <%= f.collection_check_boxes :moderator_ids, Forem::Group.all, :id, :name, :label => t('forem.admin.forum.moderator_groups') %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.primary %>
  </div>
<% end %>
