<h2>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal) do |f| %>
    <%= f.email_field( :email, :control_col => 'col-sm-6' ) %>
    <%= f.password_field( :password, :control_col => 'col-sm-6', :autocomplete => 'off' ) %>

    <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-2">
            <%= f.check_box :remember_me %>
          </div>
        </div>
    <% end -%>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.primary 'Sign in' %>
      </div>
    </div>
<% end %>

<div class="form-group">
  <div class="col-sm-6 col-sm-offset-2">
    <%= render 'devise/shared/links' %>
  </div>
</div>
